openapi: 3.0.0
info:
  title: GraceCall Telephony Tool
  description: >
    GraceCall places a real outbound phone call to a rental-car customer whose vehicle is
    overdue. The voice agent (Vera) reasons over the rental, decides an objective per policy,
    and runs the live conversation. Register this spec in Azure AI Foundry as an agent action
    tool. The Foundry agent invokes it whenever the operator asks to call a customer about an
    overdue rental. The response carries the decision (objective + rationale + amount owed) and
    whether the call was actually placed, so the agent can report back what it did and why.
  version: "1.0.0"
servers:
  - url: https://grace-call.greenplant-d2f64cf8.eastus.azurecontainerapps.io
    description: GraceCall backend on Azure Container Apps
paths:
  /trigger-call:
    post:
      operationId: triggerOverdueCall
      summary: Place an outbound overdue-rental call
      description: >
        Places a real outbound phone call about an overdue rental car. Call this tool when the
        user asks to contact, call, or follow up with a customer about an overdue or late
        vehicle return. Pass the rentalId (for example RNT-1001). The server looks up the
        rental, chooses an objective (recover, extend, charge, or escalate) according to policy,
        dials the customer, and returns the decision and call status. Use the returned objective
        and rationale to explain to the user why the call was made.
      security:
        - GraceCallKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rentalId]
              properties:
                rentalId:
                  type: string
                  description: >
                    The rental to call about. Example values: RNT-1001 (Alex Rivera, SUV),
                    RNT-1002 (Jordan Lee, Economy).
                  example: RNT-1001
      responses:
        "200":
          description: The policy decision and the call status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  rentalId:
                    type: string
                    description: The rental the call was placed for.
                  objective:
                    type: string
                    enum: [recover, extend, charge, escalate]
                    description: The objective the agent decided to pursue on this call.
                  rationale:
                    type: string
                    description: Plain-language explanation of why this objective was chosen.
                  overageOwedUSD:
                    type: number
                    description: Amount owed for the overage, in US dollars.
                  placed:
                    type: boolean
                    description: True if the outbound call was actually placed.
                  callConnectionId:
                    type: string
                    description: ACS call connection identifier for the placed call.
        "401":
          description: Missing or incorrect X-GraceCall-Key header.
        "404":
          description: Unknown rentalId.
components:
  securitySchemes:
    GraceCallKey:
      type: apiKey
      in: header
      name: X-GraceCall-Key
